.background {
    background: linear-gradient(to bottom, #F1CBB5, #FFFFFF);
    animation: gradientAnimation 10s ease-in-out infinite alternate;
}

@keyframes gradientAnimation {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}